{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <style>
    h3{
        border:2px solid rgb(32, 32, 32);
        border-radius: 3px;
        background-color: rgb(32, 32, 32);
        color:white;
        text-align: center;
    }
    .btn-danger:hover{
        border:yellowgreen;
        background-color: yellowgreen;
        color:black
    }
</style>
<h3>Qeydiyyatdan keç</h3>
<hr>

<form  method="post">
    {% csrf_token %}
    {{form|crispy}}
    <p>Qaydalar:Məqalələrdə argo kəlimələr,qeyri-etik şeylər paylaşmaq qadağandır.</p>
    <button type="submit" class="btn btn-danger">Qeydiyyatdan keç</button>
</form>

  </div>
</div>


{% endblock body %}